# liste les bibliothèques Python nécessaires au projet.

psycopg2-binary>=2.9.0 #hada driver li ykhli python ydkhel l PostgreSQL
redis>=5.0.0 # 
beautifulsoup4>=4.12.0 #hadoo les machines  dyal seo audit 
requests>=2.31.0 #hadoo les machines dyal seo audit 

fastapi>=0.115.0
uvicorn[standard]>=0.30.0